{erl_opts, [debug_info]}.
{erl_opts, [{feature, maybe_expr, enable}]}.
{deps, [
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}},
    {cowboy, "2.12.0"},
    {logger_color_formatter,
        {git, "https://github.com/rlipscombe/logger_color_formatter.git", {tag, "0.5.0"}}}
]}.

{plugins, [erlfmt]}.

{erlfmt, [
    check,
    {files, ["apps/*/{src,include}/**/{*.erl,*.hrl}"]}
]}.

{plugins, [rebar3_hex]}.

{xref_checks, [
    locals_not_used,
    undefined_function_calls,
    undefined_functions,
    deprecated_function_calls,
    deprecated_functions
]}.

{shell, [
    {apps, [yjs_in_erlang_websocket]}
]}.

{relx, [
    {release, {yjs_in_erlang, {git, long}}, [
        logger_color_formatter, yjs_in_erlang, cowboy, yjs_in_erlang_websocket
    ]},
    {extended_start_script, true}
]}.
